@import "../../styles/colors";

.card{
  box-sizing: border-box;
  width: 253px;
  height: 242px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &__illustration {
    height: 45px;
  }

  &__content {
    height: 210px;
    background-color: hsl(235, 46%, 20%);
    padding: 20px 30px;
    border-radius: 10px;
    color: #fff;

  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__current {
    font-size: 30px;
    font-weight: 200;
    margin-top: 10px;
  }


}